:root { 
--gray_50_01:#fafcff; 
--black_900_b2:#000000b2; 
--red_700:#d03329; 
--red_600:#eb304a; 
--blue_A700:#0061ff; 
--light_blue_A100:#67d7fd; 
--light_blue_100:#b0e5fc; 
--red_200:#fa9a9a; 
--blue_A200:#4d90ff; 
--light_blue_400:#1ba9ff; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--blue_A700_01:#0a58ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--black_900_01:#130e00; 
--black_900:#000000; 
--light_blue_A700:#0086ed; 
--red_700_01:#e4222e; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--gray_700_11:#55555511; 
--gray_700:#666666; 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9ea8ba; 
--gray_900:#0d1624; 
--gray_900_01:#11142d; 
--blue_gray_500:#747c89; 
--blue_gray_900_7f:#3333337f; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--gray_300:#e1e1e3; 
--blue_50:#e0ebff; 
--blue_gray_100_6c:#d1d3d46c; 
--blue_200:#a6c8ff; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535763; 
}